a:hover{
  color:red;
  text-decoration: none;
}

.sobremi{
  width: 300px;
  height: 200px;
  margin-left: 400px;
}

body{

font-family: 'Roboto', sans-serif;
  background-color: #cec3fd;
}

.contact{
 background-color: #3130d2;

}


.descripcion{
  padding-right: 20px;
}


#portfolioModal4{
  padding-right: -5;
}
